
@{
    ViewBag.Title = "Assign a Employee";
}

<h2>Assign a Employee</h2>

<div>
    <span class="btn btn-success">@Html.ActionLink("Assign Employee", "Assign", "Admin") </span>
    <span class="btn btn-primary">@Html.ActionLink("Create Employee", "AddEmployee", "Admin") </span>
    <span class="btn btn-primary">@Html.ActionLink("Show Employee", "ShowEmployee", "Admin") </span>
    <span class="btn btn-warning">@Html.ActionLink("Pending Request", "Pending", "Admin") </span>
    <span class="btn btn-primary">@Html.ActionLink("View All", "ViewAll", "Admin") </span>
    <span class="btn btn-danger">@Html.ActionLink("Logout", "Logout", "Admin") </span>
</div>


<form  method="post">

    Employee Id: <input type="number" name="Id" placeholder="Enter employee Id" />
    Donor Id: <input type="number" name="DonorId" placeholder="Enter Donors Id" />

              <input type="submit" name="Submit" value="Assign" class="btn btn-success" onclick="return confirm('Confirm employee')" />



</form>

