
@{
    ViewBag.Title = "Pending List";
}
@model List<Assingment.Db.Models.Donation>

<!-- for simplicity used the database model instead the donationdto -->


<h2>Pending List</h2>

<div>
    <span class="btn btn-success">@Html.ActionLink("Assign Employee", "Assign", "Admin") </span>
    <span class="btn btn-primary">@Html.ActionLink("Create Employee", "AddEmployee", "Admin") </span>
    <span class="btn btn-primary">@Html.ActionLink("Show Employee", "ShowEmployee", "Admin") </span>
    <span class="btn btn-warning">@Html.ActionLink("Pending Request", "Pending", "Admin") </span>
    <span class="btn btn-primary">@Html.ActionLink("View All", "ViewAll", "Admin") </span>
    <span class="btn btn-danger">@Html.ActionLink("Logout", "Logout", "Admin") </span>
</div>

<div>
    <table class="table table-bordered">
        <tr>
            <th>Donation Id</th>
            <th>Donor Id</th>
            <th>Food Name</th>
            <th>Food Quantity</th>
            <th>Donor Address</th>
            <th>Expiry Date</th>

        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Id</td>
                <td>@item.Donor.Id</td>
                <td>@item.Name</td>
                <td>@item.Qunatity</td>
                <td>@item.Donor.Address</td>
                <td>@item.ExpiryDate</td>
                <td>@item.Status</td>
            </tr>

        }
    </table>
</div>




